<p-fieldset>
    <ng-template pTemplate="header">
    <div class="header-container">
        <h2>Voters</h2>
        <button pButton pRipple type="button" icon="pi pi-plus-circle" class="p-button-rounded"></button>
    </div>
    </ng-template>
    <p-table [value]="voters" responsiveLayout="scroll">
        <ng-template pTemplate="header">
            <tr>
                <th>Name</th>
                <th>Has voted</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-voter>
            <tr>
                <td>{{voter.name}}</td>
                <td>{{voter.hasVoted}}</td>
            </tr>
        </ng-template>
    </p-table>
</p-fieldset>