<p-fieldset>
    <ng-template pTemplate="header">
    <div class="header-container">
        <h2>Candidates</h2>
        <button pButton pRipple type="button" icon="pi pi-plus-circle" class="p-button-rounded"></button>
    </div>
    </ng-template>
    <p-table [value]="candidates" responsiveLayout="scroll">
        <ng-template pTemplate="header">
            <tr>
                <th>Name</th>
                <th>Has voted</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-candidate>
            <tr>
                <td>{{candidate.name}}</td>
                <td>{{candidate.hasVoted}}</td>
            </tr>
        </ng-template>
    </p-table>
</p-fieldset>